* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body div {
  height: 100vh;
}

.image-container,
.image-container-02 {
  display: flex;
  /* border: 1px solid red; */
}

.image-container > div,
.image-container-02 > div {
  flex: 1;
  font-size: 5rem;
  color: whitesmoke;
  padding: 20px;
  text-align: end;
  transition: all .5s ease;
  cursor: pointer;
}

.image-container > div:hover,
.image-container-02 > div:hover {
  flex: 1.5;
}

.image-container div:nth-child(1) {
  background: url(01.avif) fixed no-repeat;
  background-size: contain;
}
.image-container div:nth-child(2) {
  background: url(02.avif) fixed no-repeat;
  background-position: 18%;
}
.image-container div:nth-child(3) {
  background: url(03.avif) fixed no-repeat;
  background-position: 49%;
}
.image-container div:nth-child(4) {
  background: url(04.avif) fixed no-repeat;
  background-position: 80%;
}
.image-container div:nth-child(5) {
  background: url(05.avif) fixed no-repeat;
  background-position: 100%;
}

.content-container {
  background: #0f2027;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  display: grid;
  place-content: center;
  color: whitesmoke;
}

.content-container h2 {
  font-size: 4rem;
  margin-bottom: 50px;
  text-align: center;
}

.content-container p {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 5%;
}

.image-container-02 div:nth-child(1) {
  background: url(05.avif) fixed no-repeat;
  background-size: contain;
}
.image-container-02 div:nth-child(2) {
  background: url(04.avif) fixed no-repeat;
  background-position: 18%;
}
.image-container-02 div:nth-child(3) {
  background: url(03.avif) fixed no-repeat;
  background-position: 49%;
}
.image-container-02 div:nth-child(4) {
  background: url(02.avif) fixed no-repeat;
  background-position: 80%;
}
.image-container-02 div:nth-child(5) {
  background: url(01.avif) fixed no-repeat;
  background-position: 100%;
}
