*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 0.9);
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(95deg, rgba(53,39,209,1) 0%, rgba(205,0,255,1) 100%);
}

.signup-form{
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.buttons{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 10px;
    position: relative;
    background-color: transparent;
}

.buttons:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0 ;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(95deg, rgba(53,39,209,1) 0%, rgba(205,0,255,1) 100%);
    z-index: 1;
}

.buttons a{
    position: relative;
    z-index: 2;
    text-align: center;
    flex: 1;
    font-size: 1.2rem;
    padding: .5em;
    cursor: pointer;
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input{
    font-size: 1.2rem;
    border: none;
    outline: none;
    border: 1px solid lightgray;
    padding: .5em;
    border-radius: 10px;
}

.signup-link{
    color: white;
}

button{
    font-size: 1.2rem;
    padding: .5em;
    border: none;
    outline: 2px solid blue;
    outline-offset: 3px;
    background: linear-gradient(95deg, rgba(53,39,209,1) 0%, rgba(205,0,255,1) 100%);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}